extends layout

block content
  h2 Edit Category
  ul
    a(href="../manage_categories"): li Back to Categories...
    a(href=`../delete_category/${category._id}`): li Delete Category...
  form(action=category._id, method="post")
    label Name 
      input(type="text", name="name", autofocus=true, value=category.name)
    label List Order
      input(type="number", name="order", value=category.order)
    button(type="submit") Save Category
