extends layout

block content
  h2 Edit User
  ul
    a(href="../manage_users"): li Back to Users...
    a(href=`../delete_user/${user._id}`): li Delete User...
  form(action=user._id, method="post")
    label Name 
      input(type="text", name="name", autofocus=true, value=user.name)
    label List Order
      input(type="number", name="order", value=user.order)
    button(type="submit") Save User
