extends layout

block content
  h2 Navigation
  ul
    li: a(href="../manage_accounts") Back to Accounts...
    li: a(href=`../delete_account/${account._id}`) Delete This Account...
  h2 Edit Account
  form(action=account._id, method="post")
    label Name 
      input(type="text", name="name", autofocus=true, value=account.name)
    label Description 
      input(type="text", name="description", value=account.description)
    fieldset
      legend Users
      for user in user_list
        label
          input(
            type="checkbox",
            name=`user_${user._id}`,
            checked=account.user_id_list.some(id => user._id.equals(id))
          )
          =user.name
    label List Order
      input(type="number", name="order", value=account.order)
    button(type="submit") Submit
