extends layout

block content
  h2 Edit User
  ul
    li: a(href="../manage_users") Back to Users...
    li: a(href=`../delete_user/${user._id}`) Delete User...
  form(action=user._id, method="post")
    label Name 
      input(type="text", name="name", autofocus=true, value=user.name)
    label List Order
      input(type="number", name="order", value=user.order)
    button(type="submit") Save User
