extends layout

block content
  h2 Navigation
  ul
    li: a(href="manage_users") Users...
    li: a(href="manage_accounts") Accounts...
    li: a(href="manage_categories") Categories...
    li: a(href="new_transaction") New Transaction...
  h2 Transactions
  table
    thead
      tr
        th Date/Time
        th Description
        th Category
        for account in account_list
          th= account.name
    tbody
      for transaction in transaction_list.sort((a, b) => Number(new Date(b.datetime)) - Number(new Date(a.datetime)))
        tr
          td= new Date(transaction.datetime).toLocaleString()
          td= transaction.description
          td= category_list.filter(category => transaction.category_id_list.some(id => category._id.equals(id))).map(category => category.name).join(", ")
          for account in account_list
            td= account._id.equals(transaction.source_account_id) ? `($${transaction.usd_amount})` : account._id.equals(transaction.target_account_id) ? `$${transaction.usd_amount}` : ''
