extends layout

block content
  h2(class="back")
    a(href="javascript:history.back()"): img(class="menu", src="/icons/arrow_back-white-24dp.svg", title="Back to Transactions...")
    span New Transaction
  form(action="new_transaction",  method="post")
    label Name
      input(type="text", name="name", autofocus)
    label Amount $
      input(type="number", name="usd_amount", step=0.01, value=0)
    label Withdrawal Account
      select(name="withdrawal_account_id")
        option(value="") Income
        for account in account_list
          option(value=account._id)= account.name
    label Deposit Account
      select(name="deposit_account_id")
        option(value="") Expense
        for account in account_list
          option(value=account._id)= account.name
    label Date/Time
      - dateNow = Date.now();
      - dateISOString = new Date(dateNow - new Date(dateNow).getTimezoneOffset()*60000).toISOString();
      - datetime = dateISOString.substring(0, dateISOString.length - 1);
      input(
        type="datetime-local",
        id="datetime",
        name="datetime",
        value=datetime
      )
    fieldset
      legend Budgets
      if budget_list.length === 0
        a(href="/new_budget") Add a Budget...
      for budget in budget_list
        label
          input(type="checkbox", name=`budget_${budget._id}`)
          =budget.name
    button(type="submit") Save Transaction
