extends layout

block content
  h2 Navigation
  ul
    li: a(href="../") Back to Home...
  h2 New Transaction
  form(id="new_transaction_form", action="new_transaction",  method="post")
    label Date/Time
      - const dateNow = Date.now();
      - const dateISOString = new Date(dateNow - new Date(dateNow).getTimezoneOffset()*60000).toISOString();
      input(
        type="datetime-local",
        id="datetime",
        name="datetime",
        value=dateISOString.substring(0, dateISOString.length - 8)
        autofocus=true
      )
    label Description
      input(type="text", name="description")
    label Amount $
      input(type="number", name="usd_amount", value=0, step=0.01)
    label Source Account
      select(name="source_account_id")
        for account in account_list
          option(value=account._id)= account.name
    label Target Account
      select(name="target_account_id")
        for account in account_list
          option(value=account._id)= account.name
    fieldset
      legend Categories
      for category in category_list
        label
          input(type="checkbox", name=`category_${category._id}`)
          =category.name
    button(type="submit") Submit
